[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/wifigithub
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/wifigithub
	label-Verified = -1..+1 group user/wifigithub
	push = group user/wifigithub
	read = group user/wifigithub
	rebase = group user/wifigithub
	removeReviewer = group user/wifigithub
	submit = group user/wifigithub
[access "refs/heads/*"]
	create = group user/wifigithub
	push = +force group user/wifigithub
	pushMerge = group user/wifigithub
	read = group user/wifigithub
[access "refs/tags/*"]
	push = group user/wifigithub
	push = +force group user/wifigithub
